<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <filter>
        <filter-name>DbPlayer</filter-name>
        <filter-class>filter.DbPlayer</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DbPlayer</filter-name>
        <url-pattern>/start-game</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CreateDbGame</filter-name>
        <filter-class>filter.CreateDbGame</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CreateDbGame</filter-name>
        <url-pattern>/game-over.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ChangeDataPlayerToDb</filter-name>
        <filter-class>filter.ChangeDataPlayerToDb</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ChangeDataPlayerToDb</filter-name>
        <url-pattern>/game-over.jsp</url-pattern>
    </filter-mapping>
</web-app>
